<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<title>III's blog</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&effect=3d-float" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
	</head>
	<body>
		<div>
            <h1 class="font-effect-3d-float"><a href="">III's Blog</a></h1>
        </div>
        
            
        <div>
        {% for post in posts %}
        <h2><a href={%url 'post_record' post.id%}>{{post.title}}</a></h2>
   <!-- <h2><a href="{{post.id}}">{{post.title}}</a></h2> -->
        <p>{{post.text|linebreaks}}</p>
        <p>發佈時間:{{post.created_date}}</p>
        {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-8">
                <h4>新文章:</h4>
            </div>
            <div class="col-md-8">
                <form action={%url 'add_record'%} method="post" accept-charset="utf-8">
           <!-- <form action="/blog/add_record" method="post" accept-charset="utf-8"> -->
                {% csrf_token %} 
                    <table>
                        {{post_form.as_table}}
                    </table>
                    <input type="submit" name="add_record" value="提交">
                </form>
            </div>
        </div>        
	</body>
</html>
